.task-list {
  max-width: 500px;
  margin: 30px auto;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.task > input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
}

.task > label {
  margin-right: 10px;
  cursor: text;
}

.action {
  margin-right: 8px;
  color: #AAAAAA;
  opacity: 0;
  cursor: pointer;
}

li:hover > .action,
.task:hover > .action {
  opacity: 1;
}

.add-form {
  display: flex;
  align-items: center;
}

.add-form > svg {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}