/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');  

:root {
  --blue: #0068CD;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #F9FCFF;
}

main {
  display: flex;
}

.page-title {
  border-radius: 0 20px 20px 0;
  background-color: var(--blue);
  color: white;
  display: inline-block;
  min-width: 300px;
  margin-top: 60px;
  padding: 10px 50px;
}

h1 {
  margin: 0;
  font-size: 40px;
}

input[type="text"] {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
}

input[type="submit"], button {
  font-family: 'Nunito', sans-serif;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}